{% extends "bases/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <label for="">Generar Cartas Cobranza</label>
            <br>
            <button class="btn btn-primary btn-sm" onclick="obtenerDatos('general')">Procesar Cartas Cobranza</button>
            
            <div id="espere" hidden>Procesando Cartas Cobranza, por favor espere...</div>
            <div class="text" id="spinner" hidden>
                <div class="spinner-border" role="status">
                </div>
            </div>

            <div id="archivo_generado">
                <br>
                <br>
                
                <a href="{% url 'appdescargar_lista_deben' %}" class="btn btn-success btn-sm">Descargar Lista Excel </a>
            </div>
            <br>
            <div id="cartas_cobranza">
                <a href="{% url 'appdescargar_cartascobranza' %}"class="btn btn-warning btn-sm">Descargar Cartas Cobranzas.zip</a>
            </div>
            <br>
            <br>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Generar Cartas Invitación</label>
                    <button class="btn btn-primary btn-sm" onclick="obtenerDatos('invitacion')">Procesar Cartas Invitación Salir</button>
                </div>
                <div class="col-md-6">
                    Meses Deuda
                    <select name="meses" id="meses" class="form-select form-select-sm">
                        <option value=1>mayor igual a 1 mes</option>
                        <option value=2>mayor igual a 2 meses</option>
                        <option value=3>mayor igual a 3 meses</option>
                        <option value=4>mayor igual a 4 meses</option>
                        <option value=5>mayor igual a 5 meses</option>
                        <option value=6>mayor igual a 6 meses</option>
                        <option value=7>mayor igual a 7 meses</option>
                        <option value=8>mayor igual a 8 meses</option>
                        <option value=9>mayor igual a 9 meses</option>
                        <option value=10>mayor igual a 10 meses</option>
                    </select>
                </div>
            </div>
            <div id="cartas_cobranza">
                <br>
                <a href="{% url 'appdescargar_cartascobranza' %}" class="btn btn-warning btn-sm">Descargar Cartas Invitación Salir.zip</a>
            </div>
            <br>
            
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <label for="">Generar Cartas Notariales</label>
                    <button class="btn btn-primary btn-sm" onclick="obtenerDatosNotarial('notarial')">Procesar Cartas Notarial</button>
                </div>
                <div class="col-md-6">
                    Considerar Cartas con deudas desde
                    <select name="desde_mes" id="desde_mes" class="form-select form-select-sm">
                        <option value=3>Marzo</option>
                        <option value=4>Abril</option>
                        <option value=5>Mayo</option>
                        <option value=6>Junio</option>
                        <option value=7>Julio</option>
                        <option value=8>Agosto</option>
                        <option value=9>Setiembre</option>
                        <option value=10>Octubre</option>
                        <option value=11>Noviembre</option>
                    </select>
                </div>
            </div>
            <div id="cartas_cobranza">
                <br>
                <a href="{% url 'appdescargar_cartasnotariales' %}" class="btn btn-warning btn-sm">Descargar Cartas Notariales.zip</a>
            </div>
            <br>



            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Generar Cartas Agradecimiento</label>
                    <button class="btn btn-primary btn-sm" onclick="obtenerDatosAgradecimiento('agradecimiento')">Procesar Cartas Agradecimiento</button>
                </div>
                
            </div>
            <div id="cartas_cobranza">
                <br>
                <a href="{% url 'appdescargar_agradecimiento' %}" class="btn btn-warning btn-sm">Descargar Cartas Agradecimiento.zip</a>
                <br>
                <br>
                <a href="{% url 'appdescargar_lista_agradecimiento' %}" class="btn btn-success btn-sm">Descargar Lista Excel </a>


            </div>
            <br>
        </div>
        
        <div class="col-md-6">
            <label for="">Guardar Números de Cartas</label>
            <br>
            <button class="btn btn-primary btn-sm" onclick="guardarNumerosCartas()">Guardar</button>
            <div id="espere_numeros_cartas" hidden>Procesando Números Cartas, por favor espere...</div>
            <div class="text" id="spinner_numeros_cartas" hidden>
                <div class="spinner-border" role="status">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login-modal" id="modalConfirmarGuardado">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card mb-0 user-card">
                <div class="modal-body">
                    <div class="d-flex mb-4">
                        <div class="flex-grow-1 me-3">
                            <h4 class="f-w-500 mb-1">Ventana de Confirmación</h4>
                          </div>
                          <div class="flex-shrink-0">
                            <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default" data-bs-dismiss="modal">
                              <i class="ti ti-x f-20"></i>
                            </a>
                        </div>
                    </div>
                    <p>Escribe la palabra <strong>confirmo</strong>, para poder Guardar la secuencia de cartas cobranzas</p>
                   <input type="text" placeholder="confirmo" id="txtConfirmo" class="form-control sm"> 
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnConfirmo">Confirmar</button>
                </div>
            </div>
        </div>

    </div>





{% endblock content %}

{% block js %}
    
    <script>
        function obtenerDatos(plantilla){
            meses=$("#meses").val();

            $.ajax({
                type: "GET",
                url: "/deudores/obtener/"+plantilla+"/"+meses,
                dataType: "json",
                beforeSend: function() {
                    $("#spinner").prop('hidden',false);
                    $("#espere").text("Procesando Datos, por favor espere...")
                    $("#espere").prop('hidden',false)
                },
                success: function (data) {
                    $("#archivo_generado").prop('hidden',false)
                    $("#spinner").prop('hidden',true);
                    $("#espere").text("Completado!")
                }
            });
        }

        function obtenerDatosNotarial(plantilla){
            meses=$("#desde_mes").val();

            $.ajax({
                type: "GET",
                url: "/deudores/obtener/"+plantilla+"/"+meses,
                dataType: "json",
                beforeSend: function() {
                    $("#spinner").prop('hidden',false);
                    $("#espere").text("Procesando Datos, por favor espere...")
                    $("#espere").prop('hidden',false)
                },
                success: function (data) {
                    $("#archivo_generado").prop('hidden',false)
                    $("#spinner").prop('hidden',true);
                    $("#espere").text("Completado!")
                }
            });
        }
    </script>

    <script>
        function obtenerDatosAgradecimiento(plantilla){
            $.ajax({
                type: "GET",
                url: "/puntuales/obtener/"+plantilla,
                dataType: "json",
                beforeSend: function() {
                    $("#spinner").prop('hidden',false);
                    $("#espere").text("Procesando Datos, por favor espere...")
                    $("#espere").prop('hidden',false)
                },
                success: function (data) {
                    $("#archivo_generado").prop('hidden',false)
                    $("#spinner").prop('hidden',true);
                    $("#espere").text("Completado!")
                }
            });   
        }
    </script>

    <script>

        function guardarNumerosCartas(){
            $("#modalConfirmarGuardado").modal("show");   
        }

        $("#btnConfirmo").on("click",function (e) { 
            e.preventDefault();
            if ($("#txtConfirmo").val()=='confirmo') {
                $("#modalConfirmarGuardado").modal("hide");
                $.ajax({
                    type: "POST",
                    url: "{% url 'appguardarnumeros_cartas' %}",
                    dataType: "json",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    beforeSend: function() {
                        $("#spinner_numeros_cartas").prop('hidden',false);
                        $("#espere_numeros_cartas").text("Procesando Números Cartas, por favor espere...")
                        $("#espere_numeros_cartas").prop('hidden',false)
                    },
                    success: function (data) {
                        $("#spinner_numeros_cartas").prop('hidden',true);
                        $("#espere_numeros_cartas").text("Completado!")
                        
                    }
                });
            }else{
                alert("Palabra incorrecta");
            }

        });

    </script>
{% endblock js %}