{% extends "bases/base.html" %}

{% block content %}
    estas en metricas
    <button class="btn btn-primary btn-sm" onclick="obtenerDatos()">ObtenerDatos</button>
    {% comment %} {% for d in data %}
        <h4>{{d.DNI}}</h4>
    {% endfor %} {% endcomment %}
{% endblock content %}

{% block js %}
    
    <script>
        function obtenerDatos(){
            $.ajax({
                type: "GET",
                url: "{% url 'appobtener_deudores' %}",
                dataType: "json",
                success: function (data) {
                    console.log(data)
                }
            });
        }
        
    </script>
{% endblock js %}