{% extends "bases/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            
            <h5>Configurar Cartas Notariales</h5>
            <br>


            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="{% url 'appsettingsnotarial_save' %}" method="POST">{% csrf_token %}

                <div class="row">
                    <div class="form-check">
                        <input type="text" value="{{ estado }}" id="estado_input" name="estado_input" hidden>
                        <input class="form-check-input" type="checkbox" value="" id="estado" {% if estado %} checked {% endif %}>
                        <label class="form-check-label" for="estado">Dejar Fecha del Sistema</label>
                    </div>
               
                    <div class="col-md-3">
                        <label for="">Dia en Carta</label>
                        <input type="number" class="form-control form-control-sm" value="{{ dia }}" id="dia" name="dia">
                    </div>
                    <div class="col-md-3">
                        <label for="">Mes en Carta</label>
                        <select name="mes" id="mes" class="form-select form-select-sm" >
                            <option value="Marzo" {% if mes == "Marzo" %}selected{% endif %}>Marzo</option>
                            <option value="Abril" {% if mes == "Abril" %}selected{% endif %}>Abril</option>
                            <option value="Mayo" {% if mes == "Mayo" %}selected{% endif %}>Mayo</option>
                            <option value="Junio" {% if mes == "Junio" %}selected{% endif %}>Junio</option>
                            <option value="Julio" {% if mes == "Julio" %}selected{% endif %}>Julio</option>
                            <option value="Agosto" {% if mes == "Agosto" %}selected{% endif %}>Agosto</option>
                            <option value="Setiembre" {% if mes == "Setiembre" %}selected{% endif %}>Setiembre</option>
                            <option value="Octubre" {% if mes == "Octubre" %}selected{% endif %}>Octubre</option>
                            <option value="Noviembre" {% if mes == "Noviembre" %}selected{% endif %}>Noviembre</option>
                            <option value="Diciembre" {% if mes == "Diciembre" %}selected{% endif %}>Diciembre</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Año en Carta</label>
                        <input type="number" class="form-control form-control-sm" value="{{ ano }}" id="ano" name="ano">
                    </div>
                    <div class="col-md-4">
                        <br>
                        <button type="submit" class="btn btn-primary btn-sm" onclick="guardar_setting_notarial()">Guardar</button>

                    </div>
                </div>
                
            </form>
            <br>
        </div>
        


        <h5>Configuración Notificaciones</h5>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label for="url">URL</label>
                <input type="text" class="form-control form-control-sm" value="{{ url }}" id="url" name="url">
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="url_meses_no_paga">URL Meses No Paga</label>
                <input type="text" class="form-control form-control-sm" value="{{ url_meses_no_paga }}" id="url_meses_no_paga" name="url_meses_no_paga">
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="ano_actual">Año Actual</label>
                <input type="number" class="form-control form-control-sm" value="{{ ano_actual }}" id="ano_actual" name="ano_actual" min="2020" max="2099" step="1" required>
            </div>
            
            <div class="col-12 col-md-6 mb-3">
                <label for="monto_pago">Monto Actual</label>
                <input type="number" class="form-control form-control-sm" value="{{ monto_pago|stringformat:'f' }}" id="monto_pago" name="monto_pago" step="0.01">
            </div>
            
        </div>
        <!-- Botón de guardar con col-auto para ajustar su tamaño -->
        <div class="row">
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" id="guardarBtn">Guardar</button>
            </div>
        </div>
        
        <!-- Mensaje de éxito que aparecerá después de guardar -->
        <div class="alert alert-success mt-3" id="mensajeExito" style="display: none;">
            Configuración guardada con éxito.
            <br>
        </div>
        



        <br>
        <div class="mt-3">
            <h5>Configuración Ventas Sincronizadas</h5>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label for="url">URL</label>
                <input type="text" class="form-control form-control-sm" value="{{settingsventas.url}}" id="url_ventas" name="url_ventas">
            </div>
            
            <div class="col-12 col-md-6 mb-3">
                <label for="token">Token</label>
                <input type="token" class="form-control form-control-sm" value="{{settingsventas.token}}" id="token_ventas" name="token_ventas" required>
            </div>
                   
        </div>
        <!-- Botón de guardar con col-auto para ajustar su tamaño -->
        <div class="row">
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" id="guardarBtnConfVentas">Guardar</button>
            </div>
        </div>
        
        <!-- Mensaje de éxito que aparecerá después de guardar -->
        <div class="alert alert-success mt-3" id="mensajeVentaSinc" style="display: none;">
            Configuración Ventas Sinc. guardada con éxito.
            <br>
        </div>
        
        <br>


        <div class="mt-3">
            <h5>Resetear Números de cartas a 0</h5>
        </div> 
        <div class="row">
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" id="resetBtn">Resetear Número de Cartas</button>
            </div>
        </row>
        <div class="alert alert-success mt-3" id="mensajeExitoReset" style="display: none;">
            Número de Cartas reseteadas con éxito.
        </div>
        <div class="alert alert-danger mt-3" id="mensajeErrorReset" style="display: none;">
        </div>
    </div>





{% endblock content %}

{% block js %}  
    
<script>
    $(document).ready(function () {
        // Esperar 1 segundo antes de ejecutar el código
        setTimeout(function () {
            $('#estado').change(function () {
                // Verificar si el checkbox está seleccionado
                let isChecked = $(this).is(':checked');
                $("#estado_input").val(isChecked);
                $('#dia, #mes, #ano').prop('readonly', isChecked);
            });
        }, 1000); // 1000 milisegundos = 1 segundo



    $('#guardarBtn').on('click', function() {
        // Obtener los valores de los campos
        var url = $('#url').val();
        var url_meses_no_paga = $('#url_meses_no_paga').val();
        var ano_actual = $('#ano_actual').val();
        var monto_pago = $('#monto_pago').val();

        // Verificar que los campos no estén vacíos
        if (url && url_meses_no_paga && ano_actual && monto_pago) {
            // Enviar los datos a la vista utilizando AJAX
            $.ajax({
                url: '{% url "appsettingsdatos_save" %}',
                type: 'POST',
                data: {
                    'url': url,
                    'url_meses_no_paga': url_meses_no_paga,  // Nuevo campo
                    'ano_actual': ano_actual,
                    'monto_pago': monto_pago,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response) {
                    // Mostrar el mensaje de éxito
                    $('#mensajeExito').fadeIn().delay(2000).fadeOut();
                    
                    // Recargar la página después de 2 segundos
                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                },
                error: function(xhr, status, error) {
                    alert('Hubo un error al guardar los datos. Inténtalo de nuevo.');
                }
            });
        } else {
            alert('Por favor, completa todos los campos.');
        }
    });

        $('#resetBtn').click(function () {
            $.ajax({
                url: "{% url 'appsettingsreset_cartas' %}",
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (response) {
                    if (response.success) {
                        $('#mensajeExitoReset').fadeIn().delay(3000).fadeOut();
                    } else {
                        $('#mensajeErrorReset').text(response.message).fadeIn().delay(3000).fadeOut();
                    }
                },
                error: function (xhr, status, error) {
                    $('#mensajeError').text("Error de conexión con el servidor").fadeIn().delay(3000).fadeOut();
                }
            });
        });


        $('#guardarBtnConfVentas').on('click', function () {
            const url = $('#url_ventas').val();
            const token = $('#token_ventas').val();

            $.ajax({
                url: '{% url "appguardarconfiguracionventa_save" %}',
                method: 'POST',
                data: {
                    'url': url,
                    'token': token,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    $('#mensajeVentaSinc').fadeIn().delay(2000).fadeOut();
                },
                error: function (xhr, status, error) {
                    alert("Error al guardar la configuración: " + xhr.responseText);
                }
            });
        });


    });
    
    


</script>
{% endblock js %}